{% extends "base.html" %}
{% block title %}Logged out{% endblock %}
{% block content %}

<p>Thanks for spending some quality time with the Web site today.</p>

<p><a href="{% url 'login' %}">Log in again</a></p>
{% endblock %}
