{% extends "base.html" %}
{% block title %}Alarm {{ alarm.id }}{% endblock %}
{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}
<h1>Login</h1>

{% if user.is_authenticated %}
<p class="errornote">
  You are authenticated as '{{ user }}', but are not authorized to
  access this page. Would you like to login to a different account?
</p>
{% endif %}


<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <table>
    {{form}}
  </table>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">Forgotten your password or username?</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in">
  </div>
</form>
{% endblock %}
