{% extends "base.html" %}
{% block title %}Account profile {{ profile }}{% endblock %}
{% block content %}
<h1>Account profile  for {{ profile.username }}</h1>
<table>
  <tr><th>Username</th><td>{{profile.username}}</td></tr>
  <tr><th>Vorname</th><td>{{profile.first_name}}</td></tr>
  <tr><th>Nachname</th><td>{{profile.last_name}}</td></tr>
  <tr><th>Email</th><td>{{profile.email}}</td></tr>
</table>
Passwort <a href="{% url "password_change" %}">hier</a> ändern.</br>
Is active: {{profile.is_active}}</br>
Is staff: {{profile.is_staff}}</br>
is_superuser: {{profile.is_superuser}}</br>
In Groups: {{profile.groups}}</br>
Last logged in: {{profile.last_login}}</br>
<a href="{% url 'logout' %}"><button>Log out</button></a>
{% endblock %}
