{% extends "base.html" %}
{% block title %}Alarm{% endblock %}

{% block content %}
<h1>Alarms</h1>
{% if alarms %}
{% for alarm in alarms %}
 <article class="alarm bar-item {% cycle 'oddrow' 'evenrow' %}">
 <a href="{{alarm.get_absolute_url}}">{{ alarm }}</a></article>
{% endfor %}
{% else %}
 <p>No alarms yet.</p>
 {% if perms.kibiriti.add_alarm %}<a href="{% url 'alarm-create' %}"><button>Add Alarm</button></a>{% endif %}
{% endif %}
{% endblock %}
