{% extends "base.html" %}
{% block title %}Alarm {{ alarm.id }}{% endblock %}
{% block content %}
<h1>{{ alarm }}</h1>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send message">
</form>

{% with part=alarm.num_participants %}
  <tr><td>Teilnehmer</td><td class="bold"><span class="status-yes">&nbsp;{{part.0}}&nbsp;</span><span class="status-no">&nbsp;{{part.1}}&nbsp;</span><span class="status-unknown">&nbsp;{{part.2}}&nbsp;</span></td></tr>{% endwith %}
</table>

<h3>Teilnehmer:</h3>
<ul>
{% for particip in participation %}
<li><span class="bold {% if particip.yesno %}status-yes{% elif particip.yesno == False %}status-no{% else %}status-unknown{% endif %}">&nbsp;{{particip.person}}&nbsp;</span></li>
{% endfor %}
</ul>
{% endblock %}
