{% extends "base.html" %}
{% block title %}Alarm {{ alarm.id }}{% endblock %}
{% block content %}
<h1>{{ alarm }}</h1>
<table><tr><th><a href="{{alarm.get_absolute_url}}">#{{alarm.time.year}}-{{ alarm.no }}</a></th><th>{{alarm.type}}</th></tr>
  <tr><td>Zeit</td><td>{{alarm.time}}</td></tr>
  {% if alarm.endtime %}<tr><td>Ende</td><td>{{alarm.endtime}}</td></tr>{% endif %}
  {% if alarm.address %}<tr><td>Adresse</td><td>{{alarm.address}}</td></tr>{% endif %}
  {% with part=alarm.num_participants %}
  <tr><td>Teilnehmer</td><td class="bold"><span class="status-yes">&nbsp;{{part.0}}&nbsp;</span><span class="status-no">&nbsp;{{part.1}}&nbsp;</span><span class="status-unknown">&nbsp;{{part.2}}&nbsp;</span></td></tr>{% endwith %}
</table>

<h3>Teilnehmer:</h3>
<ul>
{% for particip in participation %}
<li><span class="bold {% if particip.yesno %}status-yes{% elif particip.yesno == False %}status-no{% else %}status-unknown{% endif %}">&nbsp;{{particip.person}}&nbsp;</span></li>
{% endfor %}
</ul>
{% endblock %}
