{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block extrahead %}{% endblock %}</head>
  <body>
    <header>{% block header %}<h1>🔥 kibiriti 🔥</h1> Alarm management{% endblock %}
    </header><nav id="navbar">{% block nav %}<button class="bar-item hide-large"
						     onclick="navbar_close()">Close &times;</button>
      <a href="{% url 'alarm-list' %}" class="bar-item">Alarme</a>
      {% if user.is_authenticated %}<a href="{% url 'accounts-profile' %}" class="bar-item">My profile</a>{% else %}<a href="{% url 'login' %}" class="bar-item">login</a>{% endif %}
      {% endblock %}</nav>
    <main><button class="hide-large" onclick="navbar_open()">&#9776;</button>{% block content %}CONTENT HERE</main>{% endblock %}
    <footer>{% block footer %}kibiriti, licensed under the GNU AGPL (<a href="https://gitlab.com/sspaeth/kibiriti">source code)</a>.{% endblock %}</footer></body>
</html>
