@font-face {
  font-family: "Vollkorn";
  src: url("/static/Vollkorn-SemiBold.ttf");
}
body {font-family: Arial, non-serif;}
header {
    font-family: Vollkorn;
    text-align: center;
    background-color: red;
    border-bottom: solid 2px darkgray;}
nav {
    width:200px; /*make a variable?*/
    height:100%;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    border-right: 1px lightgray solid;}
main {
    margin-left:200px; /* used by navbar on wide screens*/
    padding-left:0.5em;
    transition:margin-left .4s;}
footer {
    font-size: small;
    text-align: center;
    border-top: solid 2px lightgray;}

.bar-item{
    padding:8px 16px;
    width:auto;
    border:none;
    display:block;
    outline:0}
.alarm.bar-item {
    border-bottom: solid 1px lightgray;}
.oddrow {
    background-color: #FF5555;}
.evenrow {
    background-color: lightgreen;}
.bold {font-weight: bold;}
.status-no {background-color:red;}
.status-yes {background-color:#00AA00;}
.status-unknown {background-color:yellow;}

.errornote {
    font-weight: bold;
    background-color: red;
    border: dotted 3px black;}
@media (min-width:993px){
    nav{display:block!important}
    .hide-large{display:none!important}
    .collapse{display:block!important}}

@media (max-width:992px){
    nav{display:none}
    main{margin-left:0!important;margin-right:0!important}}
